{{!-- skip others except portfolio items --}}

    <article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
        {{#if feature_image}}
            <a class="post-card-image-link" href="#modal-{{slug}}">
                <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
            </a>
        {{/if}}
        <div class="post-card-content">
            <a class="post-card-content-link" href="#modal-{{slug}}">
                <header class="post-card-header">
                    <h2 class="post-card-title {{#has tag="Urdu"}} urdu {{/has}}">{{title}}</h2>
                    <span class="post-card-tags">{{tags from="2" separator=" &bull; " autolink="false"}}</span>
                </header>
                <section class="post-card-excerpt {{#has tag="Urdu"}} urdu {{/has}}">
                    <p>{{excerpt words="30"}}</p>
                </section>
            </a>
        </div>
    </article>

    <div id="modal-{{slug}}" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <article class="post-card portfolio-overlay-content {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
            {{#if feature_image}}
                <div class="post-card-image-link">
                    <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                </div>
            {{/if}}
            <div class="post-card-content">
                <div class="post-card-content-link"">
                    <header class="post-card-header">
                        {{#if tags}}
                            {{#foreach tags from="2"}}
                                <span class="post-card-tags">{{name}}</span>
                            {{/foreach}}
                        {{/if}}
                        <h2 class="post-card-title {{#has tag="Urdu"}} urdu {{/has}}">{{title}}</h2>
                    </header>
                    <section class="post-card-detail {{#has tag="Urdu"}} urdu {{/has}}">
                        <p>{{content}}</p>
                    </section>
                </div>
                
            </div>
        </article>

        {{!-- 
        <div class="portfolio-overlay-content">
            {{#if @blog.logo}}
                <img class="portfolio-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="portfolio-overlay-title">{{@title}}</h1>
            <p class="portfolio-overlay-description">{{content}}</p>
        </div>
        --}}
    </div>

